.animate-link {
  position: relative;
  text-decoration: none;
}

.animate-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.animate-link-show:before {
  visibility: visible;
  -webkit-transform: scaleX(0.9);
  transform: scaleX(0.9);
}

.animate-link-black:before {
  background-color: black;
}

.animate-link:hover:before {
   visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
